<!DOCTYPE html>
<html lang="zh-cn" ng-app="lxd">
  <head>
    <title>关于我们</title>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/main.css"></link>

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script src="js/angular.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container text-center col-xs-12" ng-controller="AboutOursCtrl">
      <div class="st-header  row">
        <img ng-src="img/aboutOurs/ao_banner.png" />
      </div>
      <div class="ao-title">
         <span class="pull-left col-xs-6 about-us">关于我们 
         <span class="english"><i>a</i>bout <i>u</i>s </span>
         </span>
         <div class="line col-xs-6"></div>
         
      </div>
      <div class="ao-content text-left">
         <p>页头组件能够为 h1 标签增加适当的空间，并且与页面的其他部分形成一定的分隔。它支持 h1 标签内内嵌 small 元素的默认效果，还支持大部分其他组件（需要增加一些额外的样式）。</p>
      </div>
      
  </div>
  </body>
</html>