<!DOCTYPE html>
<html lang="zh-cn" ng-app="lxd">
<head>
    <title><%=htmlTitle%>-入驻</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container text-center col-xs-12" ng-controller="SupportEnterprisesJoinCtrl">
    <div class="sej_header row">
        <img ng-src="/img/supportEnterprisesJoin/banner.png" />
    </div>
    <form role="form" novalidate>
        <div class="sej_content col-xs-12">
            <div class="form-group row">
                <label class="pull-left col-xs-3" for="name"><%= title %></label>
                <input type="text" class="form-control col-xs-5" id="name" ng-model="item.name" name="item.name" ng-maxlength="25">
                <span class="text-danger" ng-show="fbForm.title.$error.maxlength">字符长度不能超过60</span>
            </div>
            <div class="form-group row">
                <label class="pull-left col-xs-3" for="tel">电话</label>
                <input type="text" class="form-control col-xs-5" id="tel" ng-model="item.tel" name="item.tel" ng-maxlength="11" ng-pattern="/^(13[0-9]|14[7]|15[0|1|2|3|5|6|7|8|9]|18[0|2|3|5|6|7|8|9])\d{8}$/">
                <span class="text-danger" ng-show="fbForm.tel.$error.pattern">电话号码格式不正确</span>
                <span class="text-danger" ng-show="fbForm.tel.$error.maxlength">字符长度不能超过11</span>
            </div>
            <div class="form-group row">
                <label class="pull-left col-xs-3" for="address">地址</label>
                <input type="text" class="form-control col-xs-5" id="address" ng-model="item.address"  name="item.address">
            </div>
            <div class="form-group row">
                <label class="pull-left col-xs-3" for="description">简介</label>
                <textarea class="form-control col-xs-5"  cols="3" rows="4" id="description" ng-model="item.description" name="item.description" ng-maxlength="50"></textarea>
                <span class="text-danger" ng-show="fbForm.title.$error.maxlength">字符长度不能超过60</span>
            </div>
        </div>
        <button class="sej-submit btn col-xs-12" ng-class="{sejSubmitClick:submitClick}" ng-click="saveAndChangeBtn(item,'<%= orgType %>')">提交</button>
    </form>
</div>
</body>
</html>