<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/lxd.css">
    <link rel="stylesheet" href="/stylesheets/ionic.min.css">
</head>
<body>
    <img style="width:100%;" src="/images/top.png" alt="">
    <div class="blackArea"></div>
    <img style="width:100%;height:150px;" src="/images/title_rz.png" alt="">
    <div class="list" style="background-color:white;">
        <label class="item item-input">
            <span class="input-label"><%= title %></span>
            <input type="text" id="name" name="name">
        </label>
        <label class="item item-input">
            <span class="input-label">电话：</span>
            <input type="text" id="tel" name="tel">
        </label>
        <label class="item item-input">
            <span class="input-label">地址：</span>
            <input type="text" id="address" name="address">
        </label>
        <label class="item item-input">
            <span class="input-label">简介：</span>
            <textarea id="description" name="description" cols="20" rows="6"></textarea>
        </label>
    </div>
    <div class="padding">
        <button class="save button button-full button-positive">提交</button>
    </div>
    <input type="hidden" name="type" id="type" value="<%= orgType %>"/>
</body>
<script src="/javascripts/jquery-2.0.0.min.js"></script>
<script>
    $(function(){
        $('.save').click(function(){
            var org={};
            org.name=$('#name').val();
            org.tel=$('#tel').val();
            org.type=$('#type').val();
            org.address=$('#address').val();
            org.description=$('#description').val();
            //var orgJsonStr = $.toJSON(org);
            $.post('/org/add',{org:org}, function(data){
                if(data) {
                    alert('公司入驻成功')
                }
            })
        });
    })
</script>
</html>