<!DOCTYPE html>
<html lang="zh-cn" ng-app="lxd">
  <head>
    <title>拍卖纪录</title>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/angular.min.js"></script>
      <script src="/js/angular-route.js"></script>
      <script src="/js/angular-sanitize.min.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container text-center col-xs-12" ng-controller="AuctionRecordCtrl">
        <div class="ar-header  row">
          <img ng-src="/img/secretariat/st_banner.png" />
        </div>
        <div class="ar-title row">
          <h4>历史订单</h4>
        </div>
        <div class="ar-content">
            <div class="row col-xs-12" ng-repeat="item in items">
              <div class="ar-img col-xs-4">
                <img ng-src="/upload/users/{{item.goodsId}}.png"/>
              </div>
              <div class="ar-info">
                <div class="pull-left text-left">
                    <p class="ar-info-item">{{item.goods.goodsName}}</p>
                    <p class="ar-info-item">成交日期:{{item.optTime | date:"yyyy-MM-dd"}}</p>
                    <p class="ar-info-item">成交价格: ¥ {{item.price}}</p>
                </div>
                <div class="ar-opt pull-right">
                    <div class="ar-del"><span>删除</span></div>
                </div>
              </div>
            </div>
        </div>
    </div>     
  </body>
</html>