<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
        $(function(){


        });
        function findOrgList(){
            $.ajax( "/org/find-org-list" )
                    .done(function(data) {
                        console.log(data);
                    });
        }
    </script>
</head>
<body>
<h1><%= title %></h1>
<input type="button" value="获取入驻企业列表" onclick="javascript:findOrgList();"/>
</body>
</html>
