<!DOCTYPE html>
<html lang="zh-cn" ng-app="lxd">
  <head>
    <title>赞助企业</title>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/angular.min.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container text-center col-xs-12" ng-controller="SupportEnterprisesCtrl">
      <div class="header-image  row">
        <img ng-src="/img/supportEnterprises/header.png" />
      </div>
      <div class="content">
          <div class="item-single row" ng-repeat="item in items">
            <div class="order-star"><img ng-src="/img/supportEnterprises/star.png"></div>
            <div class="item-img">
              <img ng-src="/images/orgs/{{item.id}}.png"  title="{{item.name}}" class="img-rounded" />
            </div>
            <div class="item-name">
              <img ng-src="/img/supportEnterprises/text_bar.png"/>
              <div class="name-text">{{item.name}}</div>
            </div>
          </div>
      </div>
       <div class="footer-image row">
        <img ng-src="/img/supportEnterprises/footer.png"/>
        <div class="item-join">
        <a ng-click="joinChange()">
          <img ng-if="!join" ng-src="/img/supportEnterprises/join_default.png"/>
          <img ng-if="join" ng-src="/img/supportEnterprises/join_click.png"/>
        </a>
      </div>
      <div class="date">
        <span>{{date}}</span>
      </div>
      <div class="count-tip">
        <i class="num">{{num}}</i><span>&nbsp;家合作伙伴</span>
      </div>
      </div>
  </body>
</html>