<!DOCTYPE html>
<html lang="zh-cn" ng-app="lxd">
  <head>
    <title>公益拍卖-活动中心-竞品拍卖</title>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/main.css"></link>

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script src="js/angular.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container text-center col-xs-12" ng-controller="UsefulActivityAuctionCtrl">
      <div class="la-header  row">
        <img ng-src="img/usefulActivity/ua_banner.png" />
        <i class="ua-logo"></i>
      </div>
      <div class="ua-title col-xs-10">柠檬杯<br/><span class="ua-title-part">喝水神器<span></div>
      <div class="uaa-content row">
          <div class="la-item-single">
           <div class="uaa-heart-blank-shaped"></div>
           <table>
             <tr>
               <td class="la-left-bar">
                  <i class="uaa-li"></i>
                  <i class="uaa-xing"></i>
                  <i class="uaa-dong"></i>
               </td>
               <td class="uaa-cont-bottom">
                 <div class="uaa-auction jumbotron col-xs-11 pull-right">
                     <form role="form">
                       <div class="form-group row pull-left col-xs-8">
                          <label class="col-xs-6 uaa-hei" for="exampleInputEmail1">出价</label>
                          <input type="text" class="uaa-give-price uaa-hei form-control col-xs-5" id="exampleInputEmail1" name="">
                          <label class="col-xs-1 uaa-hei">元</label><br/>
                          <button class="uaa-submit btn row col-xs-8 col-xs-offset-2" ng-class="" ng-click="">确认出价</button>
                          <!-- <button class="uaa-submit btn row col-xs-8 col-xs-offset-2" ng-class="" ng-click="">竞拍已结束</button> -->
                        </div>
                     </form>
                     <div class="uaa-text pull-right">
                        <span>已有100人出价</span><br/>
                        <span>最低价 20.00</span>
                     </div>
                  </div>
               </td>
             </tr>
           </table>
          </div>
          <div class="uaa-good-detail">
             <i class="uaa-detail"></i>
             <h4>竞拍品详情</h4>
             <div class="uaa-detail-cont">
                <p>三首富联盟

从某种意义上讲，上述三家公司在历史都曾经进入电商，试图动摇马云在电商领域的垄断地位。以前他们是单独挑战马云的电商帝国，却从未成功。现在他们改弦更张，三名首富联手。

万达电商曾于2012年5月份组建，当时曾高调宣称其“万人招聘计划”。当时王健林将万达电商的方向定为向O2O发力，借助旗下商业地产等项目，将线下主营业务打包上线。但雷声大，雨点小，线下资产线上化并不是一件简单的事情，万达电商业务发展较为缓慢。

2013年末，万达上线的万达电商项目“万汇网”，并上线万汇网独立App，继续延续初期定位的O2O模式，首期只与数家线下万达商场打通。尽管发展势头不错，但离挑战阿里的目标尚有距离。

百度于2007年成立电子商务事业部，先后曾经有啊网，随后有啊转型，推出主打“优质正品”的合资电商品牌乐酷天，实验失败后，乐酷天关闭，百度随后曾低调推出百度微购和百度购物，将重心移向垂直购物搜索引擎。历时七年，百度离电商主战场越来越远。

腾讯旗下电商平台包括QQ网购、拍拍网、易迅等,在腾讯入股京东时被并入京东。腾讯目前在电商领域的布局主要在微信层面，曾于去年推出微信购物，可通过商场扫二维码回家下单。

三首富联手，50亿美元不是最大的想象空间，最大的想象空间是三家公司旗下的电商资源如何整合：万达电商有线下入口（万达商城）方面的优势，百度有搜索技术方面的优势，而微信则是最大的移动电商入口，“线下入口+线上入口+电商搜索”是三首富联手给予行业的想象空间。

更大的想象空间是，三首富联手，一定会推出与阿里巴巴不同的电商玩法。过往的竞争实践已经证明，如果仍然以阿里巴巴的方式再进入电商，不可能强过阿里巴巴，那是一条死路。

2012年12月，王健林与马云在某电视台晚会上打赌。王健林声称：“电商再厉害，但像洗澡、捏脚、掏耳朵这些业务，电商是取代不了的。我跟马云先生赌一把：2020年，也就是10年后，如果电商在中国零售市场占50%，我给他一个亿，如果没到他还我一个亿。

王健林似乎已认识到十年后电商将超线下，但未来在线上电商领域，王健林希望可与马云一拼。</p>
             </div>
          </div>
          <div class="uaa-des">
             <i class="uaa-des-img"></i>
             <h4>为了公益 我们用公益来做什么？</h4>
             <div class="uaa-des-cont">
               <p>2012年12月，王健林与马云在某电视台晚会上打赌。王健林声称：“电商再厉害，但像洗澡、捏脚、掏耳朵这些业务，电商是取代不了的。我跟马云先生赌一把：2020年，也就是10年后，如果电商在中国零售市场占50%，我给他一个亿，如果没到他还我一个亿。

王健林似乎已认识到十年后电商将超线下，但未来在线上电商领域，王健林希望可与马云一拼。</p>
             </div>
          </div>
      </div>
  </div>
  </body>
</html>