<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加竞拍品</title>
    <script src="/javascripts/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script>
        $(function(){
            var goodsId = $('#goodsId').val();
            if(goodsId == 'null'){
                $('#goodsId').val('');
            }
            if(goodsId && goodsId != 'undefined' && goodsId != ''&&goodsId != 'null'){
                $.ajax( "/goods/find-goods-by-id/"+goodsId )
                        .done(function(data) {
                            $("input[name='goodsName']").val(data.goods.goodsName);
                            $("input[name='goodsSimpleName']").val(data.goods.goodsSimpleName);
                            $("input[name='area']").val(data.goods.area);
                            $("input[name='orgName']").val(data.goods.orgName);
                            $("input[name='reservePrice']").val(data.goods.reservePrice);
                            $("input[name='lowestPrice']").val(data.goods.lowestPrice);
                            $("input[name='marketPrice']").val(data.goods.marketPrice);
                            $("input[name='finishTime']").val(data.goods.finishTime);
                            $("textarea[name='description']").text(data.goods.description);
                            $("input[name='mode']").each(function(){
                                if($(this).val() == data.goods.mode){
                                    console.log(data.goods.mode);
                                    $(this).prop( "checked" );
                                }
                            });
                        });
            }
        });
    </script>
</head>
<body>
<iframe name="resultiframe" src="" style="border: 0px;"></iframe>
<form id="goodsForm" action="/goods/add" method="post"
      enctype="multipart/form-data" target="resultiframe">
    <input type="hidden" name="goodsId" id="goodsId" value="<%=goodsId%>"/>
    <div>物品名称:<input type="text" name="goodsName" /></div>
    <div>物品简要描述:<input type="text" name="goodsSimpleName" /></div>
    <div>图片:<input type="file" name="goodsUrlFile" /></div>
    <div>所属区域:<input type="text" name="area" /></div>
    <div>所属企业:<input type="text" name="orgName" /></div>
    <div>竞拍模式:<input type="radio" name="mode" value="immediately"/>即时出价<input type="radio" name="mode"
                                                                              checked     value="auction" />竞拍</div>
    <div>保留价:<input type="text" name="reservePrice" /></div>
    <div>最低价:<input type="text" name="lowestPrice" /></div>
    <div>市场价:<input type="text" name="marketPrice" /></div>
    <div>竞拍结束时间:<input type="text" name="finishTime" />格式为2014-05-08 11:32:42</div>
    <!--rich editor-->
    <textarea rows="30" cols="50" name="description">aa</textarea>
    <script type="text/javascript">CKEDITOR.replace('description');</script>
    <input type="submit" value="确定"/>
</form>

</body>
</html>